@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tangerine:wght@400;700&display=swap');

* {
    margin: auto;
    color: #483129;
}

body {
    background-color: #FFEEDD;
    font-family: 'Poppins', sans-serif;
}

/* ENCABEZADO */
header {
    background: #FFDEC7;
    text-align: center;
    border-bottom: solid 5px #dac1af;
    padding: 10px;

}

header h1 {
    font-family: "Tangerine", cursive;
    font-weight: 10000;
    font-size: 70px;
    font-style: bold;
}

/* MENÚ */
nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #8C597C;
    margin-top: 5px;
    padding: 30px;
}

#menu-principal {
    list-style: none;
    display: flex;
}

#menu-principal a {
    text-decoration: none;
    color: #FFDEC7;
    font-size: 20px;
    font-weight: bolder;
    padding: 8px;
}

#menu-principal a:hover {
    color: #ffffff;
}

/* CONTENIDO PRINCIPAL*/
main {
    overflow: hidden;
}

section {
    overflow: hidden;
}

#about-me .contenido-about {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

#about-me .texto {
    flex: 1;


}

mark {
    background-color: #EEA3A1;
}

#foto-perfil {
    margin-top: 30px;
    width: 250px;
    border-radius: 10px;
    object-fit: cover;
}


p {
    color: rgb(78, 10, 11);
}

/* Proyectos */
.proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    min-height: 480px;
    background-color: #EEA3A1;
}

.proyecto h3 {
    font-weight: li;
}

.proyecto p {
    text-align: justify;
    padding: 20px;
    flex-grow: 1;

}

.proyecto img {
    width: 100%;
    border-radius: 6px;
    margin-top: 10px;
}

.proyecto time {
    margin-top: auto;
    font-weight: 500;
}

#proyectos {
    padding: 20px 30px;
    border-top: solid 5px #8C597C;
    margin-top: 30px;
    text-align: center;
}

#proyectos > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 30px;
    align-items: stretch;
}


/**/
progress {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    margin: 10px 0;
}

footer {
    overflow: hidden;
    padding: 40px 0;
    background-color: aquamarine;
    text-align: center;
    border-top: solid 5px #ffffff;
}





.lista-tecnologias {
    list-style: none;
    display: flex;
    margin-left: 0;
    gap: 15px;
    padding: 10px;
}

.lista-tecnologias li {
    background-color: rgb(186, 88, 100);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 25px;
    text-align: center;
}

.bi {
    color: #000;
}

.campos {
    width: 70%;
    clear: both;
}

.campos label {
    padding-right: 20px;
}

.campos input,
select {
    padding: 10px;
    border: solid 2px #333;
    width: 50%;
    font-size: 20px;
    border-radius: 10px;
}

.campos button {
    background-color: rgb(230, 128, 140);
    color: #ffffff;
    border: none;
    font-size: 16px;
    padding: 15px 30px;
    border-radius: 10px;
}

.campos .opciones {
    width: 20px;
}





#habilidades {
    overflow: hidden;
    margin-top: 20px;
    padding: 20px;
    border-top: solid 5px rgb(157, 173, 113);
    margin-bottom: 30px;
}

#contacto {
    padding: 40px;
}